.nav {

}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #FFFFFF;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  transition: .3s;
}

.nav__link:hover {
  color: #8F00FF;
}