.paginator {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
}

.paginator__pages {
  margin-right: 40px;
  
}

.paginator__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__item {
  display: flex;
  margin-right: 20px;
}

.paginator__item:last-child {
  margin-right: 0;
}

