.paginator {
  margin: 0 auto;
}

.paginator__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__item {
  margin-right: 20px;
}

.paginator__item:last-child {
  margin-right: 0;
}